<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <h1>{{htmlWebpackPlugin.options.greeting}}</h1>
    <div>{{htmlWebpackPlugin.options.divText}}</div>
    <div>Thanks to webpack-dev-server package</div>
    <h2>We don't need to refresh the page any more</h2>
  </body>
</html>